.blog-article-content {
	h1 {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-image: linear-gradient(to bottom, #fff, #ffffff60);
	}

	h2,
	h3 {
		font-family: var(--fonts-paragraphs);
	}

	blockquote {
		font-family: var(--fonts-headings);
		font-style: italic;
		font-weight: 400;
		font-size: 1.1em;
		margin: 1rem 0;
	}

	strong {
		font-weight: 700;
	}

	[data-youtube-video] {
		iframe {
			aspect-ratio: 16/9;
			height: 100%;
		}
	}

	img,
	iframe,
	video {
		width: 100%;
		height: auto;
		margin: var(--space-md) 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: var(--space-xl) 0 var(--space-md);
	}
}
